name: Run Tests with tmate

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  run-test-command:
    runs-on: ubuntu-latest
    steps:
     - name: Maximize Build Space
       uses: easimon/maximize-build-space@master
       with:
        root-reserve-mb: 2048       # Keep 2GB for system
        swap-size-mb: 512          # Shrink swap to 1GB (default is 4GB)
        remove-dotnet: 'true'       # Remove .NET
        remove-android: 'true'      # Remove Android SDKs
        remove-haskell: 'true'      # Remove Haskell
        remove-codeql: 'true'       # Remove CodeQL
        remove-docker-images: 'false' # Remove cached Docker images
      
     - name: Checkout Code
       uses: actions/checkout@v4
    
     - name: Verify Free Space
       run: |
        echo "Disk Space:"
        df -h
        echo "----------------"
        echo "Memory/Swap:"
        free -m
     - name: Start SSH Session
       uses: mxschmitt/action-tmate@v3
